*{
  margin:0;
  box-sizing: border-box;
}

 /* #hero {
  width: 65%;
  height: 83vh;
  margin-top: 10vh;
} 

.btn-outline-primary{
  border: blue 1px solid;
  width: 135px;
  font: x-large;
  color: blue;
  background-color: white;
} */