.container{
  background-color: white;
  max-width: 650px ;
  max-height:375px ;
 color: rgb(162, 161, 161); 
  margin-top:10%;
  margin-left:10%;
  font-family:Arial, Helvetica, sans-serif;
}
 
.card-header{
 
  position: relative;
  display:inline-table;
  width: 87%;
  height: auto;
  margin: 50px;
 
  }
  a img{
    margin-top:35px; 
     margin-left:30px; 
   }

   .user{
    list-style-type: none;
    display: flex;
    margin-left: 50px;
    margin-top: -50px;
    margin-bottom: 5px; 
    font-size: large;
   }

   .userName{
    font-weight: 600;
    color:rgb(47, 46, 46);
   }

   .userHandle{
    margin-left:12px;
    font-weight: 500;
   }

   .date{
    margin-left:10px;
    font-weight: 500;
    color:rgb(162, 161, 161);
    
   }

   .card-body{
    color:rgb(68, 68, 68);
    width: 70%;
    margin-left: 89px;
    line-height: 1.5;
  
  }
  
  
  .icons{
    display:flex;
    align-items: center;
    margin-right:50px;
    justify-content: space-evenly; 
    
}  
  
 .icon-heart{
  margin-left:35%;
}

.counts{
  color: rgb(68, 68, 68);
  margin-top:-25px;
  margin-left:70px;
  font-size:medium;
}