.avatar-container{
 background-color:rgb(5, 5, 5);
 display:flex;
 flex-direction:row;
 width:60%;
 height: 500px;
 align-items: center;

}

p{
  font-size: medium;
  margin-left:45%
}

.fave-avatar{
  display:flex;
  margin-left: 45%;
}

.avatar {
 max-width: 15vw;
 max-height:15vh ;
 border-radius: 50%; 
 border: 2px solid rgb(0, 179, 255);
 margin-bottom:10px;
 margin-top:5px;   
 margin-left: 20px;

 }

.random_fave{
  margin-left:430px;
  margin-top:-160px;
}
 
