.randomCardContainer{
 display:flex;
  background-color: #faf6f9;
  border: #faf6f9 solid 1px;
  max-width: 450px ;
  max-height:auto; 
  margin-top:5%; 
  margin-left:500px; 
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 10px;
 
}


  .faveUser-card{
    width: 90%;
    color:rgb(68, 68, 68);
   
  }
 
 .card-avatar{
     padding-top: 10px;
     margin-left: 10px;
   }

  .randomCard-icons{
  display:flex;
  margin-bottom: 10px;
  justify-content: space-around; 
  
}


.random-tweet{
  margin-left:65px;
  align-content: center;
  justify-content: center;
 
}

.randomRetweet-icon{
  margin-left: 1px;
}

.randomHeart-icon{
  margin-left: 1px;
  
}
