.card-container{
  display: flex;
  flex-direction: column;
  background-color: #f1eeee;
  font-family: Arial, Helvetica, sans-serif;
  max-width:420px;
  height:auto;
  border-radius: 10px;
  
}

.card-avatar-img{
  width: 50px;
  height:50px ;
  border-radius: 50%; 
  /* border: 2px solid rgb(0, 179, 255); */
  margin-bottom:10px;
  margin-top:10px;   
  margin-left: 10px;
}

.card-items{
  padding:5px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: medium;
  list-style: none;
 
}

li{
  color:rgb(88, 86, 86);
  margin-left:10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(202, 201, 201);
  
}

