.card-container{
  display: flex;
  flex-direction: column;
  background-color: #fbf9f9;
  font-family: Arial, Helvetica, sans-serif;
  max-width:420px;
  height:auto;
  
}
.card-items{
  padding:5px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: medium;
  list-style: none;
 
}

li{
  color:rgb(88, 86, 86);
  margin-left:10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(202, 201, 201);
  
}

