/* form {
  background-color: rgb(11, 10, 10);
}  */
 
.search-box{
  height:6.5vh;
 
 margin-left: 65%;
   margin-top: 10px; 
   margin-bottom: 10px;
  border: 2px solid rgb(0, 179, 255) ;
  border-radius: 3px;
  background-color: transparent; 
  font-size: large;
  /* padding-left:7px;
  padding-left:30px; */

 }

 input{
    border: transparent;
 
 }

.submit{
  height: 6.5vh;
  font-size: large;
  margin-left: -10%;
  color: white;
  border: solid 1.5px rgb(247, 246, 246);
  background-color:rgb(0, 179, 255) ;
  border-radius: 3px;
}