  .responsive  {
  width:100%;
  height:auto;
   overflow: hidden; 
}

.text{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 179, 255)
  
}


.btn-outline-primary{
   width: 100px;  
  height:7vh;
  margin-top:10px ; 
  font-size: large;
  margin-bottom:2px;
  margin-left: 70px;
  margin-right: 2px;
  border: 1px solid rgb(234, 237, 240);
  box-shadow: .5px 1px 0 .5px rgb(0, 179, 255);
  border-radius: 12px;
  background-color: rgb(0, 179, 255); 
  position:absolute;
  
}

.btn-lg{
   width: 150px;  
   height:7vh;
    margin-top:10px ; 
   font-size: large;
   margin-left: 180px;
   border: 1px solid  rgb(233, 236, 239);
   box-shadow: .5px 1px 0 .5px  rgb(0, 179, 255);
   border-radius: 12px;
   background-color:rgb(0, 179, 255) ; 
   position:absolute;
} 

a{
  text-decoration: none;
  font-size: large;
  color: white;
}


 .search-box{
  height:6vh;
  width:30vw;
  height: 7vh;
  margin-left: 60%;
   margin-top: 10px; 
   margin-bottom: 10px;
  border: 2px solid  rgb(179, 177, 177);
  border-radius: 3px;
  background-color: transparent; 
  font-size: large;
  padding-left:7px;
  padding-left:30px;
  background: transparent;
 
 }


.submit{
  height: 7vh;
  font-size: large;
  margin-left: -68px; 
  color: white;
  border: solid 1px rgb(179, 177, 177);
  background-color:rgb(0, 179, 255) ;
  border-radius: 3px;
}