  #hero .responsive {
  width:100%;
  height: 92vh;

}

.btn-outline-primary{
  
  border: .5px solid gainsboro;
  /* border-radius: 33%; */
  height:9vh;
  box-shadow:  .5px 1px ;
  margin:2px ;
  margin-bottom:2px;
  width: 135px;  
 /* padding:1px; */
  font-size: large;
  color:white;
  background-color: #1DA1F2;
}

.btn-lg{
  /* border: blue 1px solid; */
   width: 135px;
  font-size: large;
  padding: .5px;
  height:9vh;
  margin-left: 2px;
  padding: 1px;
  box-shadow:.5px 1px ;
  background-color: #1DA1F2;
  color:white;
  box-shadow:  .5px 1px ;
  border: .5px solid gainsboro;
} 

.search-box{
  justify-self:right;
  margin-left: 800px;
  height:6vh;
  width:18vw;
}