 .container{
  display: flex;
  background-color: #faf6f9;
   max-width: 420px ;
  max-height:auto; 
  margin-top:3%; 
  margin-left:35%; 
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
 
.card-header{
  display:flex;
  flex-direction: column;
  align-items:flex-start; 
   margin-top: 2px;
 
  }

 .card-avatar{
    margin-top:px; 
    /* margin-left:2px;  */
   }

 p{
     display:inline-flex; 
     color:rgb(68, 68, 68);
     margin-bottom:5px;
     margin-left:5px;
   }

p{
    /* margin-left: 10px; */
    color:rgb(126, 125, 125)
   }

 .card-body{
    margin-left:5px;
    width: 90%;
    color:rgb(68, 68, 68);
    margin-top: 15px; 
    margin-bottom:35px;
    padding-bottom: 15px;
  }
     
.card-footer .icons{
    display:flex;
    align-items: center;
    margin-left: 45px;
    margin-bottom: 15px;
    justify-content: space-between; 
    
   
}  

.counts{
  color: rgb(68, 68, 68);
  margin-top:-25px;
  margin-left:55px;
  font-size:medium;
}

.tweet{
  margin-left:430px;
  margin-top:20px;
}

.icon-retweet{
  margin-left: 25px;
}

.icon-heart{
  margin-left: 25px;
  
}
