  .tweet-primary{
    width: 110px;  
    height:7vh;
    margin-top:40px ; 
    padding: 2px 20px;
    font-size: x-large;
    margin-bottom:2px;
    margin-left: 40px;
    border: 1px solid rgb(0, 179, 255);
    box-shadow: .5px 1px 0 .5px rgb(0, 179, 255);
    border-radius: 12px;
    background-color: rgb(0, 179, 255); 
    position:absolute;
    
  }
   
  .tweet-outline{
   height:7vh;
   margin-top:40px ; 
   font-size: x-large;
   margin-bottom:2px;
   margin-left: 160px;
   margin-right: 2px;
   border: 1px solid rgb(0, 179, 255);
   box-shadow: .5px 1px 0 .5px rgb(0, 179, 255);
   border-radius: 12px;
   background-color: rgb(0, 179, 255); 
   position:absolute; 
   
  } 



 .search-form{
  margin-top: 180px;
  align-items: center;
  justify-content: center; 
  border-radius:5px 0px 0px 5px;
  margin-left: 450px;
  margin-bottom: 50px;
 } 
 
 .tweet-submit-btn{
  height: 6.5vh;
  width:20vw;
  color:white;
  font-size: large;
  background-color: rgb(0, 179, 255);
  border:.5px solid rgb(0, 179, 255);
  border-radius: 0 5px 5px 0; 
  margin-top: 180px;
  margin-left:750px; 
  padding-left: 50px;
  
} 
/* 
.card-message{
  margin-top: 250px;
}  */

 li{
  color:rgb(75, 73, 73);
  max-width:450px;
  height:auto;
  align-items: center;
  display: inline-block;
  justify-items: center;
  margin-left: 450px;
  /* margin-top: 1px; */
  /* margin-bottom: 5px; */
  /* padding-top: 5px; */
  /* padding:15px; */
  border-radius: 7px;
  font-size: medium;
  list-style: none;
  text-decoration: none;
  background-color: #f9f9f9;
  
}



.randomImg{
  display: inline-flex;
  width: 50px;
  height:50px;
  border-radius: 50%; 
  /* margin-bottom:20px; */
  margin-top:10px;   
  /* margin-left: 10px; */ 
 }

h5{
  display: flex;
  font-size: medium;
  margin-top:-50px; 
  margin-left:60px;
  color:rgb(93, 81, 81);
  flex-wrap: wrap;
}

.tweetTime{
  display: inline-flex;
 
  justify-content:flex-end;
  margin-top: -21px;
  margin-bottom:3px;
 margin-left: 60px;
}
.tweetContent{
  margin-top: 15px;
  margin-left:60px;
  margin-right: 5px;
}